<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="navbar-brand">Search results
                <input type="button" (click)="goto_dashboard()" class="btn btn-default pull-right" value="Back"> </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="col-lg-10 ">
    <table class="table table-hover ">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>In-time</th>
            <th>Out-time</th>
            <th>Receptionists' Name</th>
        </tr>
        <tr *ngFor="let response of responses ">
            <td>{{response.name}}</td>
            <td>{{response.email}}</td>
            <td>{{response.number}}</td>
            <td>{{response.in_time}}</td>
            <td>{{response.out_time}}</td>
            <td>{{response.receptionist_name}}</td>
        </tr>
    </table>
</div>