<div class="container col-lg-4 col-lg-offset-4 jumbotron">
    <form [formGroup]="edit_form">
        <div>
            <h2 class="col-lg-offset-5">Edit</h2>

            <br>

            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" #name>
        </div>

        <br>

        <div>
            <label for="email">Email </label>
            <input type="email" class="form-control" id="email" formControlName="email" #email>
        </div>

        <div>
            <label for="number">Number </label>
            <input type="number" class="form-control" id="number" formControlName="number" #number>
        </div>

        <button class="btn btn-primary" [disabled]="!edit_form.valid" (click)="save_edited($event, name, email, number)">Save</button>
    </form>
</div>