<div>
    <br>
    <div class="container col-lg-4 col-lg-offset-4 jumbotron">
        <form [formGroup]="registerForm">
            <h2> Registration </h2>
            <br>
            <div>
                <label for="fname">Firstname <sup class="is_necessary">*</sup></label>
                <input type="text" class="form-control" id="fname" formControlName="firstname" placeholder="Enter your first name" #fname>
            </div>
            <br>
            <div>
                <div id="toast"></div>
                <label for="lname">Lastname </label>
                <input type="text" class="form-control" id="lname" formControlName="lastname" placeholder="Enter your last name" #lname>
            </div>
            <br>
            <div>
                <label for="mail">Email <sup class="is_necessary">*</sup></label>
                <input type="email" class="form-control" id="mail" formControlName="email" placeholder="example@abc.com" #email>
            </div>
            <br>
            <div>
                <label for="role">Role </label>
                <select class="form-control" id=" role" #role>
                    <option> Receptionist </option>
                    <option> Admin </option>
                </select>
            </div>
            <div>
                <label for="pwd">Password <sup class="is_necessary">*</sup></label>
                <input type="password" class="form-control" id="pwd" formControlName="psword" placeholder="Enter password" #pwd>
            </div>

            <br>
            <button class="btn btn-primary" (click)="onRegister($event, fname, lname, email, pwd, role) ">Register</button>
            <button class="btn btn-primary" [routerLink]="['']">Log in</button>
        </form>
    </div>
</div>