<div>
    <br>
    <br>
    <br>
    <br>
    <div class="container col-lg-4 col-lg-offset-4 jumbotron">
        <div id="toast"></div>
        <form [formGroup]="loginForm">
            <div>
                <h2 class="col-lg-offset-5">Login</h2>
                <br>
                <label for="email">Email <sup class="is_necessary">*</sup></label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="example@abc.com" #myemail>
            </div>
            <br>
            <div>
                <label for="password">Password <sup class="is_necessary">*</sup></label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Password" #mypass>
            </div>
            <small class="is_necessary" *ngIf="(loginForm.controls.email.hasError('required')||loginForm.controls.password.errors)"><sup>*</sup> field is required!</small>
            <br>
            <br>
            <button class="btn btn-primary" (click)="onLogin($event, myemail, mypass)">Login</button> New User?
            <button class="btn btn-primary" [routerLink]="['signup']">Register</button>
        </form>
    </div>
</div>